<div id="flats">
  <div id="space-navbar"></div>
  <h1 class="text-center">Votre recherche ?</h1>
  <div class="row row-centered">
    <% @flats.each do |flat| %>

    <div class="col-sm-12 col-md-6 col-centered col-fixed">
     <%= link_to flat_path(flat) do %>
     <% if flat.picture.instance.picture_file_name %>
     <%= image_tag flat.picture.url %>
     <% else %>
     <%= image_tag "300px-No_image_available.png" %>
     <% end %>
     <br />
     <ul>
      <li class="text-center"><%= flat.name %></li>
      <li>City: <%= flat.city %></li>
      <li>Capacity: <%= flat.capacity %></li>
      <li>Price: <%= flat.price %></li>
    </ul>
    <% end %>
  </div>
  <%end%>
  <div class="col-sm-12">
    <div id="map" style="width: 60%; height: 400px;margin:0 auto;margin-top:20px"></div>
  </div>
</div>
</div>

<% content_for :javascript do %>
<%= javascript_tag do %>
$('#flats .col-fixed').hide();
$($('#flats .col-fixed')[0]).fadeIn();
$('#flats .col-fixed:hidden').each(function(k, v) {
$(v).delay(Math.floor((Math.random() * 2) + 1) * 1000).fadeIn();
});
<% end %>
<% end %>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).on('ready', function() {
handler = Gmaps.build('Google');
handler.buildMap({ internal: { id: 'map' } }, function(){
markers = handler.addMarkers(<%= raw @markers.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
});
});
<% end %>
<% end %>
