

<div id="home" >
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-vertical-center">
        <h1> Feel at home everywhere </h1>
      </div>
    </div>
  </div>
</div>

<div class="hero__content-footer text-center hide-sm ">
  <%= form_tag(flats_path, method: :get, class: "navbar-form" )  do %>
  <div class="form-group">
    <%= text_field_tag(:city, nil, placeholder: "Where do you go?", class:"form-control") %>
  </div>
  <div class="form-group">
    <%= text_field_tag(:checkin, nil, placeholder: "Check-in", class:"form-control") %>
  </div>
  <div class="form-group">
    <%= text_field_tag(:checkout, nil, placeholder: "Check-out", class:"form-control") %>
  </div>
  <div class="form-group">
    <%= text_field_tag(:travellers, nil, placeholder: "Travellers", class:"form-control") %>
  </div>
  <%= submit_tag("Search", class:"form-control") %>
  <% end %>
</div>
